.label_editor {
    width: 100%;
}

.label_column {
    height: 2em;
}

.column_color {
    width: 2em;
}

.tile {
    width: 100%;
    height: 100%;
}

.column_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label_name {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 2em;
    top: 5px;
    background: #ffffff;
}

input .name_editor {
    width: 100%;
    height: 100%;
}
