.container {
    width: 100%;
    height: calc(100% - 10px);
    overflow: scroll;
}

.legend {
    width: 100%;
    height: 100%;
}

.categoryMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 2in;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #ffffff;
    border: 1px solid;
}

.menuRow {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.rowClose {
    padding-top: 2px;
    padding-right: 2px;
    justify-content: flex-end;
}

.menuColor {
    width: 1cm;
}

.menuName {
    width: 5px;
    flex: 1 1 auto;
}

.menuButton {
    flex: 1 1 auto;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);  /* exactly 2 rows */
    grid-auto-flow: row;               /* fill columns first */
    gap: 1rem 2rem;                        /* row gap, column gap */
    align-items: center;
}

.button-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button {
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.button-grid button.active {
  background-color: #005bbb;
  color: white;
  border-color: #004499;
}

.quick-remove {
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 4px;
}

.quick-remove.included-tag {
  background: #e6ffe6;
  color: green;
}

.quick-remove.excluded-tag {
  background: #ffe6e6;
  color: red;
}

.quick-remove:hover {
  opacity: 0.8;
}

#tag-search {
  margin-bottom: 8px;
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}